::-moz-selection {background: #38ff90;}
::-webkit-selection {background: #38ff90;}
::selection {background: #38ff90;}

:focus-visible {outline: none;}
.form-control:focus {box-shadow: none;}
.form-check-input:checked {background-color: black !important;}
.form-check-input:focus {box-shadow: none;}

body {background-color: #f3f1e5;}
.btn-dark, .border {border-color: black !important;}
.btn-dark {background: black;}
.btn-dark:hover {background: black;}
.font-monospace {font-size: .85rem;}
.form-control::file-selector-button {color: white;background-color: black;}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {background-color: black;}
.btn-customlink{
    --bs-btn-padding-y: .25rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
    color: white !important;
    width: auto;
    margin:0 5px;
}
.btn-customlink::before {content: '🔗 ';}
.autocomplete-list {
    z-index: 1000;
    cursor: pointer;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 175px;
    overflow-y: auto;
    overflow-x: hidden;
}
.autocomplete-item {
    padding: 5px 12px;
    cursor: pointer;
}
.autocomplete-item:hover {background: #38ff90;}
#htmlOutput {
    height: 473px; 
    width: 100%;
    resize: vertical; 
}
#editor {height: 482px;}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1px 20px 20px 20px;
    width: 600px; 
}
.close-button {
    color: #000;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}
.close-button:hover, .close-button:focus {
    text-decoration: none;
    cursor: pointer;
}
#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview h6 {
    font-weight: bold;
}
#preview a {color: unset;}

.placeholder-boto, .placeholder-youtube {
    background: #eee;
    color: #555;
    padding: 4px;
    text-align: center;
    border: 1px dashed #aaa;
    margin: 5px 0;
}
.dropdown-item:active {
    background-color: transparent;
}
